<footer>
	<p>
		find me on:
	</p>
    <ul>
		<li>
			{{ site.mail }}
		</li>
		<li>
			<a href="https://keyserver.ubuntu.com/">{{ site.pgp }}</a>
		</li>
        <li>
			<a href="https://github.com/{{ site.github_username}}">github</a>
		</li>
		<li>
			<a href="https://linkedin.com/in/henrique-noronha-facioli-64223ab9">linkedin</a>
		</li>
		<li><a href="/files/cv-henrique-en.pdf">cv</a></li>
	</ul>
	<div style="float: right;">
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licença Creative Commons by-sa" style="" src="https://licensebuttons.net/l/by-sa/4.0/88x31.png" /></a>
	</div>
</footer>
