<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ page.title }}</title>
	<meta name="author" content="{{ page.author }}">
	<meta name="description" content="a personal website for sharing things i like and posting my experince">
	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/img/unicorn.ico"/>
	<link rel="shortcut icon" type="image/png" href="/img/unicorn.ico"/>
	<!-- main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!-- Google analytics -->
	{% include analytics.html %}

	<!-- Og and twitter -->
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:description" content="a personal website for sharing things i like and posting my experince">
	<meta property="og:image" content="henrique.me/img/unicorn.ico">
	<meta property="og:url" content='http://henrique.me{{ page.url }}'

	<meta name="twitter:creator" content="@henriquefacioli">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ page.title }}">

</head>
<body>
<h1>{{ page.title }}</h1>

<nav>
    <ul>
    	<li><a href="/">home</a></li>
    	<li><a href="/blog">blog</a></li>
    </ul>
</nav>

<div>
{{ content }}
</div>
</body>

<footer>
	<p>
		find me on:
	</p>
    <ul>
		<li>
			henrique.fac<span style="display:none">hello</span>ioli@gmail.com
		</li>
		<li>
			0xEA1C7E63
		</li>
		<li>
			<a target="_blank" href="http://twitter.com/henriquefacioli">@henriquefacioli</a>
		</li>
        <li>
			<a href="https://github.com/henriquefacioli">github</a>
		</li>
	</ul>
</footer>

</html>
